// Hero header start
.hero-header {
  background-color: $vibeYellow;

  position: relative; // This way the background circles can use absolute within the background

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  height: 80vh;
  max-height: 800px; // Big screens KekW

  * {
    color: $paleWhite;
    text-shadow: $defaultShadow;
  }

  .hero-header--inner {

    height: 100%;
    display: grid;

    z-index: 200;

    margin: clamp(50px, 20%, 100px) 0;

    .hero-header--title-wrapper {

      align-self: center;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: $tabletBreakPoint) {
        margin-left: auto;
        margin-right: auto;

        margin-top: 60px;
      }

      h1 {
        font-size: 6rem;
        line-height: 100px;

        // I felt so smart when I did the formatting like this
        br {
          display: block;
          @media (min-width: $tabletBreakPoint) {
            display: none;
          }
        }
      }

      h2 {
        font-size: .8rem;
        position: relative;
        top: -15px;
      }

    }

    .hero-header--scroll-down-wrapper {
      align-self: flex-end;
      justify-self: flex-end;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: .7rem;

      img {
        width: 30px;
        position: relative;

        animation: bobbing .25s alternate linear infinite;
        animation-play-state: paused;

        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

      &:hover, &:focus {
        img {
          animation-play-state: running;
        }
      }

      p {
        position: relative;
        text-decoration: underline;
        transition: ease-in-out .05s;
        top: 0;
        line-height: 20px;
        text-shadow: $smallShadow;
      }

      &:active {
        p {
          position: relative;
          top: 1px;
        }
      }

    }
  }

  .hero-header--decorative-circles {
    .decorative-circle {
      border-radius: 50%;
      aspect-ratio: 1/1;
      background-color: darken($vibeYellow, 2);

      width: 50px;

      z-index: 100;

      -webkit-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
      -moz-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
      box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);

      position: absolute;
    }

    .circle-1 {
      width: 200px;

      top: -100px;
      left: -75px;
    }

    .circle-2 {
      width: 125px;

      bottom: 0;
      right: 7px;
    }

    .circle-3 {
      width: 40px;

      left: 60%;
      top: 60px;
    }

    .circle-4 {
      width: 300px;

      left: 60%;
      top: 60px;
    }

    .circle-5 {
      display: none;

      @media (min-width: $tabletBreakPoint) {
        display: block;
      }


      width: 250px;

      left: 5%;
      bottom: 10px;
    }

  }

  .hero-header--decorative-pills {
    .pill-group {

      * {
        border-radius: 69696969px;
        position: absolute;
        z-index: 150;

      }
    }

    .blue-pill-group {
      .main-blue-pill {
        background-color: $cloudBlue;
        width: 450px;
        height: 150px;

        transform: rotate(-25deg);

        left: -300px;
        top: 113px;

        box-shadow: $defaultShadow;

        @media (min-width: $tabletBreakPoint) {
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 500px;
        }

        overflow: hidden;

        .blue-inner-circle {
          background-color: darken($cloudBlue, 2);
          width: 20px;
          aspect-ratio: 1/1;
          position: absolute;
          top: 0;
          left: 100px;

          -webkit-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
          -moz-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
          box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
        }

        .circle-1 {
          width: 70px;
          right: 40px;
          left: unset;
          top: 20px;
        }

        .circle-2 {
          right: 85px;
          left: unset;
          top: 100px;
        }

        .circle-3 {
          width: 40px;
          left: 55px;
          top: 90px;
        }

        .circle-4 {
          width: 25px;
          left: 80px;
          top: 30px;
        }

        .circle-5 {
          width: 30px;
          left: 200px;
          top: 70px;
        }
      }

      .blue-pill-fleet {
        visibility: hidden;
        transform: rotate(-25deg);
        margin-left: auto;
        margin-right: auto;

        top: 130px;
        left: 0;
        right: 840px;

        width: fit-content;

        @media (min-width: $tabletBreakPoint) {
          visibility: visible;
        }

        * {
          background-color: $cloudBlue;
          width: 50px;
          aspect-ratio: 3/1;

          box-shadow: $defaultShadow;

          position: absolute;
          top: 0;
        }

        .blue-pill-1 {
          left: -30px;
          top: 22px;
        }

        .blue-pill-3 {
          left: 30px;
          top: 22px;
        }
      }

      .pink-pill-fleet {
        visibility: hidden;
        transform: rotate(-25deg);
        margin-left: auto;
        margin-right: auto;

        top: 200px;
        left: 0;
        right: 230px;

        width: fit-content;

        @media (min-width: $tabletBreakPoint) {
          visibility: visible;
        }

        * {
          background-color: $hotPink;
          width: 50px;
          aspect-ratio: 3/1;

          box-shadow: $defaultShadow;

          position: absolute;
          top: 0;
        }

        .pink-pill-1 {
          left: -30px;
          top: 22px;
        }

        .pink-pill-3 {
          left: 30px;
          top: 22px;
        }
      }
    }

    .pink-pill-group {
      .main-pink-pill {
        background-color: $hotPink;
        width: 600px;
        height: 210px;

        transform: rotate(-25deg);

        right: -365px;
        bottom: 140px;

        box-shadow: $defaultShadow;

        @media (min-width: $tabletBreakPoint) {
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: -765px;
          bottom: 320px;
        }

        overflow: hidden;

        .pink-inner-circle {
          background-color: darken($hotPink, 1);
          width: 20px;
          aspect-ratio: 1/1;
          position: absolute;
          top: 0;
          left: 100px;

          -webkit-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
          -moz-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
          box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
        }

        .circle-1 {
          width: 70px;
          right: 40px;
          left: unset;
          top: 20px;
        }

        .circle-2 {
          right: 105px;
          left: unset;
          top: 130px;
          width: 50px;
        }

        .circle-3 {
          width: 180px;
          left: -65px;
          top: 127px;
        }

        .circle-4 {
          width: 40px;
          left: 115px;
          top: 50px;
        }

        .circle-5 {
          width: 115px;
          left: 275px;
          top: 40px;
        }
      }

      .pink-pill-fleet {
        visibility: hidden;
        transform: rotate(-25deg);
        margin-left: auto;
        margin-right: auto;

        bottom: 280px;
        left: 0;
        right: -915px;

        width: fit-content;

        @media (min-width: $tabletBreakPoint) {
          visibility: visible;
        }

        * {
          background-color: $hotPink;
          width: 70px;
          aspect-ratio: 3/1;

          box-shadow: $defaultShadow;

          position: absolute;
          top: 0;
        }

        .pink-pill-1 {
          left: -50px;
          top: -35px;
        }

        .pink-pill-3 {
          left: 50px;
          top: -35px;
        }
      }
    }

    .white-pill-group {
      .main-white-pill {
        background-color: $paleWhite;
        width: 300px;
        height: 125px;

        transform: rotate(-25deg);

        left: -180px;
        bottom: 150px;

        box-shadow: $defaultShadow;

        @media (min-width: $tabletBreakPoint) {
          margin-left: auto;
          margin-right: auto;
          left: -375px;
          right: 0;
          bottom: 120px;
        }

        overflow: hidden;

        .white-inner-circle {
          background-color: darken($paleWhite, 1);
          width: 20px;
          aspect-ratio: 1/1;
          position: absolute;
          top: 0;
          left: 100px;

          -webkit-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
          -moz-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
          box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
        }

        .circle-1 {
          width: 70px;
          right: 40px;
          left: unset;
          top: 20px;
        }

        .circle-2 {
          right: unset;
          left: 50px;
          top: 90px;
          width: 50px;
        }
      }

      .white-pill-fleet {
        visibility: hidden;
        transform: rotate(-25deg);
        margin-left: auto;
        margin-right: auto;

        bottom: 150px;
        left: 0;
        right: 10px;

        width: fit-content;

        @media (min-width: $tabletBreakPoint) {
          visibility: visible;
        }

        * {
          background-color: $paleWhite;
          width: 60px;
          aspect-ratio: 3/1;

          box-shadow: $defaultShadow;

          position: absolute;
          top: 0;
        }

        .white-pill-1 {
          left: -20px;
          top: -20px;
        }

        .white-pill-2 {
          top: 20px;
          left: -80px;
        }
      }
    }
  }
}

@keyframes bobbing {
  from {
    top: 0;
  }

  to {
    top: 5px;
  }
}

.hero-header--drooping {
  width: 100vw;
  max-width: 100%;
  height: 140px;
  overflow: hidden;

  display: flex;
}
// Hero header end

// Middle text start
.middle-text {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 80vh;
  max-height: 600px; // Big screens KekW

  h3 {
    text-align: center;
    font-size: 3rem;
    text-shadow: $defaultShadow;

    @media (min-width: $tabletBreakPoint) {
      font-size: 4rem;
    }
  }

  .blue-pill-fleet {
    position: absolute;
    visibility: hidden;
    transform: rotate(-25deg);
    margin-left: auto;
    margin-right: auto;

    top: 180px;
    left: -1100px;
    right: 0;

    width: fit-content;

    @media (min-width: $tabletBreakPoint) {
      visibility: visible;
    }

    * {
      background-color: $cloudBlue;
      width: 50px;
      aspect-ratio: 3/1;

      border-radius: 69696969px;

      box-shadow: $defaultShadow;

      position: absolute;
      top: 0;
    }

    .blue-pill-1 {
      left: -30px;
      top: 22px;
    }

    .blue-pill-3 {
      left: 30px;
      top: 22px;
    }
  }
}
// Middle text end
// Content cta start
.content-cta {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 2rem;
  padding-top: 2rem;

  overflow: hidden;

  @media (min-width: $tabletBreakPoint) {
    padding-bottom: unset;
    padding-top: unset;
    height: 750px;
  }

  background-color: $cloudBlue;

  .content-cta--inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }

  * {
    color: $paleWhite;
  }

  h4 {
    text-align: left;
    font-size: 3rem;
    text-shadow: $defaultShadow;
    z-index: 150;

    @media (min-width: $tabletBreakPoint) {
      font-size: 4rem;
    }
  }

  div {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-right: 10px;
    margin-left: 10px;

    @media (min-width: $tabletBreakPoint) {
      grid-template-columns: 1fr 1fr;
      margin-right: unset;
      margin-left: unset;

      column-gap: 20px;
      row-gap: 60px;
    }

    @media (min-width: $desktopBreakPoint) {
      grid-template-columns: 1fr 1fr 1fr;
      margin-right: unset;
      margin-left: unset;

      column-gap: 20px;
      row-gap: 60px;
    }

    a {
      text-align: center;
      border-radius: 69696969px;
      box-shadow: $defaultShadow;
      text-shadow: $smallShadow;
      transition: ease-in-out .2s;
      z-index: 150;

      font-size: 1.3rem;
      padding: .8rem 2rem;

      @media (min-width: $tabletBreakPoint) {
        font-size: 1.8rem;
        padding: 1rem 2.5rem;
      }

      &:hover {
        scale: 1.07;
      }

      &:active {
        scale: .9;
      }

      &:nth-child(1) {
        background-color: $hotPink;
      }

      &:nth-child(2) {
        background-color: $vibeYellow;
      }

      &:nth-child(3) {
        background-color: $paleWhite;
        color: $charcoalBlack;
      }

      &:nth-child(4) {
        background-color: $paleWhite;
        color: $charcoalBlack;
      }

      &:nth-child(5) {
        background-color: $hotPink;
      }

      &:nth-child(6) {
        background-color: $vibeYellow;
      }
    }
  }

  button {
    margin-top: 2.5rem;
    text-decoration: underline;
    text-shadow: $smallShadow;
    z-index: 150;
    font-size: 1.1rem;
  }

  .content-cta--decorative-circles {
    .decorative-circle {
      border-radius: 50%;
      aspect-ratio: 1/1;
      background-color: darken($cloudBlue, 3);

      width: 50px;

      z-index: 100;

      -webkit-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
      -moz-box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);
      box-shadow: inset -1px 2px 5px -3px rgba(30, 24, 10, .2);

      position: absolute;
    }

    .circle-1 {
      width: 200px;

      top: -100px;
      left: -75px;

      @media (min-width: $tabletBreakPoint) {
        left: 20px;
        top: 50px;
      }
    }

    .circle-2 {
      width: 125px;

      bottom: 0;
      right: 7px;

      @media (min-width: $tabletBreakPoint) {
        bottom: 30px;
        right: 150px;
      }
    }

    .circle-3 {
      width: 40px;

      left: 60%;
      top: 60px;
    }

    .circle-4 {
      width: 300px;

      left: 60%;
      top: 60px;
    }

    .circle-5 {
      width: 250px;

      left: -150px;
      bottom: 190px;

      @media (min-width: $tabletBreakPoint) {
        width: 350px;
        left: 200px;
        bottom: 50px;
      }
    }
  }

  .pink-pill-fleet {
    position: absolute;
    visibility: hidden;
    transform: rotate(-25deg);
    margin-left: auto;
    margin-right: auto;

    top: 50px;
    right: -1200px;
    left: 0;

    width: fit-content;

    z-index: 125;

    @media (min-width: $tabletBreakPoint) {
      visibility: visible;
    }

    * {
      background-color: $hotPink;
      width: 50px;
      aspect-ratio: 3/1;

      border-radius: 69696969px;

      box-shadow: $defaultShadow;

      position: absolute;
      top: 0;
    }

    .pink-pill-1 {
      left: -30px;
      top: 22px;
    }

    .pink-pill-3 {
      left: 30px;
      top: 22px;
    }
  }

  .white-pill-fleet {
    position: absolute;
    visibility: hidden;
    transform: rotate(-25deg);
    margin-left: auto;
    margin-right: auto;

    bottom: 180px;
    left: -1300px;
    right: 0;

    width: fit-content;

    z-index: 125;

    @media (min-width: $tabletBreakPoint) {
      visibility: visible;
    }

    * {
      background-color: $paleWhite;
      width: 50px;
      aspect-ratio: 3/1;

      border-radius: 69696969px;

      box-shadow: $defaultShadow;

      position: absolute;
      top: 0;
    }

    .white-pill-1 {
      left: -30px;
      top: 22px;
    }

    .white-pill-3 {
      left: 30px;
      top: 22px;
    }
  }
}
// Content cta end

// Project showcase start
.project-showcase {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 2rem;
  padding-top: 2rem;

  overflow: hidden;

  margin-bottom: 5rem;

  @media (min-width: $tabletBreakPoint) {
    padding-bottom: unset;
    padding-top: unset;

    margin-top: 5rem;
  }

  .project-showcase--inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: flex-end;

    h4 {
      font-size: 3rem;
      text-shadow: $defaultShadow;
      z-index: 150;
      line-height: 40px;

      @media (min-width: $tabletBreakPoint) {
        font-size: 4rem;
        line-height: unset;
      }
    }

    p {
      font-family: $titleFont;
      position: relative;
      top: -5px;

      @media (min-width: $tabletBreakPoint) {
        top: -15px;
      }
    }
  }

  .project-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(17, 1fr);

    width: 100%;
    max-width: 390px;

    margin-right: 20px;
    margin-left: 20px;

    @media (min-width: $desktopBreakPoint) {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(4, 1fr);

      margin-right: unset;
      margin-left: unset;
      align-self: unset;
      max-width: unset;
    }

    .project-item {
      background-color: $hotPink;
      aspect-ratio: 1/1;
      border-radius: 10px;

      transition: ease-in-out .2s;
      padding: 7px;

      &:hover {
        scale: 1.04;
      }

      &:active {
        scale: .9;
      }

      .project-title-wrapper {
        position: absolute;
        font-family: $titleFont;
        text-shadow: $smallShadow;
        padding: 5px 10px;

        * {
          color: $paleWhite;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        display: block;
      }
    }

    .project-1 {
      grid-area: 1 / 1 / 3 / 3;
      background-color: $vibeYellow;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 1 / 1 / 3 / 3;
      }
    }
    .project-2 {
      grid-area: 3 / 1 / 4 / 2;
      background-color: $cloudBlue;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 1 / 3 / 2 / 4;
      }
    }
    .project-3 {
      grid-area: 4 / 2 / 5 / 3;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 2 / 3 / 3 / 4;
      }
    }
    .project-4 {
      grid-area: 3 / 2 / 4 / 3;
      background-color: $vibeYellow;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 1 / 4 / 2 / 5;
      }
    }
    .project-5 {
      grid-area: 4 / 1 / 5 / 2;
      background-color: $cloudBlue;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 2 / 4 / 3 / 5;
      }
    }
    .project-6 {
      grid-area: 5 / 1 / 7 / 3;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 1 / 5 / 2 / 6;
      }
    }
    .project-7 {
      grid-area: 7 / 1 / 8 / 2;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 2 / 5 / 3 / 6;
      }
    }
    .project-8 {
      grid-area: 8 / 1 / 9 / 2;
      background-color: $vibeYellow;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 1 / 6 / 2 / 7;
      }
    }
    .project-9 {
      grid-area: 7 / 2 / 8 / 3;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 2 / 6 / 3 / 7;
      }
    }
    .project-10 {
      grid-area: 8 / 2 / 9 / 3;
      background-color: $cloudBlue;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 1 / 7 / 2 / 8;
      }
    }
    .project-11 {
      grid-area: 9 / 1 / 11 / 3;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 2 / 7 / 3 / 8;
      }
    }
    .project-12 {
      grid-area: 11 / 1 / 12 / 2;
      background-color: $vibeYellow;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 3 / 3 / 5 / 5;
      }
    }
    .project-13 {
      grid-area: 11 / 2 / 12 / 3;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 3 / 1 / 4 / 2;
      }
    }
    .project-14 {
      grid-area: 12 / 1 / 13 / 2;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 4 / 1 / 5 / 2;
      }
    }
    .project-15 {
      grid-area: 12 / 2 / 13 / 3;
      background-color: $cloudBlue;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 3 / 2 / 4 / 3;
      }
    }
    .project-16 {
      grid-area: 13 / 1 / 15 / 3;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 4 / 2 / 5 / 3;
      }
    }
    .project-17 {
      grid-area: 15 / 1 / 16 / 2;
      background-color: $vibeYellow;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 3 / 5 / 4 / 6;
      }
    }
    .project-18 {
      grid-area: 15 / 2 / 16 / 3;
      background-color: $cloudBlue;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 4 / 5 / 5 / 6;
      }
    }
    .project-19 {
      grid-area: 16 / 1 / 17 / 2;
      background-color: $vibeYellow;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 3 / 6 / 4 / 7;
      }
    }
    .project-20 {
      grid-area: 16 / 2 / 17 / 3;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 4 / 6 / 5 / 7;
      }
    }
    .project-21 {
      grid-area: 17 / 1 / 18 / 2;
      background-color: $vibeYellow;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 3 / 7 / 4 / 8;
      }
    }
    .project-22 {
      grid-area: 17 / 2 / 18 / 3;

      @media (min-width: $desktopBreakPoint) {
        grid-area: 4 / 7 / 5 / 8;
      }
    }
  }
}
// Project showcase end
// Footer start
.footer {
  background-color: $hotPink;
  overflow: hidden;
  margin-top: 3rem;


  @media (min-width: $desktopBreakPoint) {
    margin-top: 12rem;
  }

  p {
    font-family: $titleFont;
    color: darken($hotPink, 3);
    font-size: 28.5vw;
    user-select: none;

    position: relative;

    @media (min-width: $desktopBreakPoint) {
      left: -40px;
      font-size: 30vw;
    }

    line-height: 17vw;
  }
}
// Footer end

// Quote start
.quote {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 6rem;
  margin-bottom: 6rem;

  * {
    font-family: $titleFont;
  }

  .project-quote--inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    max-width: unset;
  }

  p {
    text-decoration: underline;
    text-align: center;
    font-size: 1.25rem;
    text-shadow: $smallShadow;

    align-self: center;
  }

  .quote-slider {
    margin-top: 3rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    width: 100vw;

    position: relative;

    overflow-x: hidden;

    -webkit-scroll-behavior: unset;
    -moz-scroll-behavior: unset;
    -ms-scroll-behavior: unset;
    scroll-behavior: unset;

    cursor: url("../../images/icons/cursor/cursor-slide.png"), auto;

    @media (min-width: $desktopBreakPoint) {
      gap: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    &.dragging {
      cursor: url("../../images/icons/cursor/cursor-grab.png"), auto;
    }

    .quote-slide {
      height: 40vw;
      min-height: 300px;
      width: 80vw;
      min-width: 80vw;
      transition: .2s ease-in-out;
      border-radius: 10px;
      overflow: hidden;

      position: relative;

      @media (min-width: $desktopBreakPoint) {
        width: 700px;
        min-width: 700px;
        height: 500px;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

      h4 {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        color: $paleWhite;
        text-align: center;
        font-size: 1.2rem;
        text-shadow: $defaultShadow;

        @media (min-width: $tabletBreakPoint) {
          font-size: 2rem;
        }
      }

      p {
        position: absolute;
        bottom: 10px;
        right: 30px;
        text-align: right;
        color: $paleWhite;
        text-shadow: $smallShadow;
      }

    }
  }
}
// Quote end