<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block favicon %}
            {% set rnd = random(2) %}

            {% if rnd is same as(1) %}
                {% set faviconLink = asset('build/images/other/white-heart.svg') %}
            {% else %}
                {% set faviconLink = asset('build/images/other/yellow-heart.svg') %}
            {% endif %}

            <link rel="icon" href="{{ faviconLink }}">
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}" >
        {% block body %}
        {% endblock %}
    </body>
</html>
