{% extends 'visitor/base.html.twig' %}

{% block title %}
    {{ 'baileythedino.about.pageTitle'|trans }}
{% endblock %}

{% block body %}
    {% include 'visitor/components/header.html.twig' %}

    <section>
        Hello me
    </section>
{% endblock %}