html {
  margin: 0;
  height: 100%;

  body {
    background-color: $backgroundColor;

    * {
      font-family: $primaryFontFamily;
      font-weight: $primaryFontWeight;
      font-style: $primaryFontStyle;

      color: $textColor;
    }

    ::selection {
      color: $backgroundColor;
      background-color: $textColor;
    }

    i {
      font-style: italic;
    }

    ul {
      list-style-type: square;
      padding-left: 18px;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      transition: $defaultTransition;

      &:hover {
        text-decoration: line-through;
        text-decoration-color: $textColor;
      }
    }
  }
}