.index-body {
  overflow: hidden;
  width: 100vw;
  height: 100%;

  .canvas-wrapper {
    width: 100vw;
    height: 100vh;

    #canvas {
      display: block;
      width: 100vw;
      height: 100vh;
    }
  }
}