a, button {
  background-color: unset;
  font-family: $titleFont;
  border: unset;
  cursor: url("../images/icons/cursor/cursor-pointer.png"), auto;
  font-weight: unset;
  text-decoration: none;
  
  &:active {
    cursor: url("../images/icons/cursor/cursor-clicked.png"), auto;
  }
}

* {
  color: $charcoalBlack;

  box-sizing: border-box;

  margin: 0;
  padding: 0;

  &::after {
    margin: 0;
    padding: 0;
  }
}

::selection {
  background-color: $charcoalBlack;
  color: $paleWhite;
}

html, body {
  background-color: $paleWhite;

  cursor: url("../images/icons/cursor/cursor-standard.png"), auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
  font-weight: unset;
}

.container {
  max-width: $containerWidth;
  width: 100%;
}
