a {
  text-decoration: none;
}

* {
  color: $offBlack;
  font-family: $mainFont;

  box-sizing: border-box;

  margin: 0;
  padding: 0;

  &::after {
    margin: 0;
    padding: 0;
  }
}

::selection {
  background-color: $offBlack;
  color: $offWhite;
}

html, body {
  background-color: $offWhite;
}

section {
  margin: 1rem;
}