{% extends 'admin-base.html.twig' %}

{% block title %}{{ 'admin.account.title'|trans }}{% endblock %}

{% block body_classes %}
    class="body-admin"
{% endblock %}

{% block body_content %}
    <h1>Account</h1>
{% endblock %}