{% block header %}
    <nav>
        <div class="logo">
            <a href="#">BaileyTheDino</a>
        </div>

        <div class="desktop-links">
            <a href="#">About,</a>
            <a href="#">Work,</a>
            <a href="#">Blog,</a>
            <a href="#">Contact</a>
        </div>

        <div class="mobile-links">
            <div class="hamburger-wrapper">
                <div class="hamburger hamburger-1"></div>
                <div class="hamburger hamburger-2"></div>
            </div>

            <div class="mobile-navigation-links">
                <a href="#">About,</a>
                <a href="#">Work,</a>
                <a href="#">Blog,</a>
                <a href="#">Contact</a>
            </div>
        </div>

    </nav>
{% endblock %}