<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ 'admin.title'|trans }}
        {% endblock %}
    </title>

    {% block favicon %}
        <link id="favicon" rel="icon" type="image/svg+xml" href="{{ asset('build/images/favicon.svg') }}">
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin-app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('admin-app') }}
    {% endblock %}
</head>
<body {% block body_classes %}{% endblock %}>
{% block body %}
    {% include './admin/navigation/navigation.html.twig' %}

    {% block body_content %}
    {% endblock %}

{% endblock %}
</body>
</html>
