<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ 'admin.title'|trans }}
        {% endblock %}
    </title>

    {% block favicon %}
        <link id="favicon" rel="icon" type="image/svg+xml" href="{{ asset('build/images/favicon.svg') }}">
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin-app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('admin-app') }}
    {% endblock %}
</head>
<body {% block body_classes %}{% endblock %}>

{% if error is defined and error is not null %}
    {% include './admin/notifications/error.html.twig' with {'notification': error.message} only %}
{% endif %}

{% block body %}
    <header>
        {% include './admin/navigation/navigation.html.twig' %}
    </header>

    <main>
        {% block body_content %}
        {% endblock %}
    </main>

{% endblock %}
</body>
</html>
