<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ 'base.title'|trans }}
            {% endblock %}
        </title>

        {% block favicon %}
            <link id="favicon" rel="icon" type="image/svg+xml" href="{{ asset('build/images/favicon.svg') }}">
        {% endblock %}

        {% include './head/metatags.html.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-controller="consoleMessage" {% block body_classes %}{% endblock %} {% block body_attributes %}{% endblock %}>
        {% block body %}
            {% include './navigation/navigation.html.twig' %}

            {% block body_content %}
            {% endblock %}

        {% endblock %}
    </body>
</html>
